.left-nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .left-nav .flex-gap-20 {
    /* Optional: Remove gap between navbar items */
    gap: 0;
  }
  .photo {
    border-radius: 100px;
    max-width: 100%;
    width: 70%;
  }
  .keeb-photo {
    border-radius: 100px;
    max-width: 100%;
    width:90%;
  }

  .footertext {
    font-size: 20px;
    padding: 10px
  }

  .left {
    margin-left: 10%;
    width: 50%;
    padding: 40px;
    
  }

  .right {
    width: 50%;
    padding: 40px;
   
  }

  .icon-links {
    /* color: lightskyblue; */
    font-size: 25px;
    justify-content: center;
    align-items: center;
    width: 25px;
  }
  
  .title {
    font-size: 500%;
    justify-content: center;
    margin-left: 5%;
    margin-top: 2%;
    font-style: normal;
  }

  .soloText {
    width: 100%;
    font-size: 175%;
    margin-top: 6%;
    text-align: center;
    font-weight: 100;
  }

  .embla {
    margin-top: 6%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    display: flex;
    justify-content: center;
  }
  
  .pgText {
    width: 80%;
    font-size: 175%;
    margin-top: 6%;
  }
  
  @media (max-width: 768px) {
    /* Optional media query for responsive layout on smaller screens */
    .about-container {
      flex-direction: column;
    }
  }

  .main {
    flex: flex-grow;
  }